/* stylelint-disable at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional smooth font */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}
